@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    scroll-behavior: smooth;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Montaga', serif;*/
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    color: #000; 
}
.notification.is-info{
    border-left:.3em solid #1d72aa;
}
.notification.is-danger{
    border-left:.3em solid #cc0f35;
}
.notification.is-primary{
    border-left:.3em solid #00d1b2;
}
.title{
    color: #000; 
}
.is-bold{
    font-weight: 600;
}
div#root {
    height: auto !important;
    min-height: calc(100% - 3.25rem);
}

.font-montaga {
    font-family: 'Montaga', serif !important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}
.text-with-image img{
    height: 30px !important;
}

.navbar .navbar-item-active {
    color: var(--primary-dark);
}

label.checkbox{
    user-select: none !important;
}
.has-shadow{
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff !important;
}
.settings-card{
    box-shadow: -3px 3px 0 #ff950080 !important;
    border-radius: 0 !important;
}
.form-section {
    padding: 20px;
    max-width: 450px;
    margin: auto;
}
form:has(.search-form){
    max-width: 400px;
    margin: auto;
    height: 44px;
}
.search-form{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-form button svg{
    color: #fff;
    fill: currentColor;
    /* width: 24px; */
    height: 40px;
    padding: 10px;
}

.measure-field{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #ddd;
}

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 5px;
}

.navbar-brand .navbar-item {
    font-size: 1.2rem
}

.font-pacifico {
    font-family: 'Pacifico', cursive !important;
}

.d-none {
    display: none !important;
}
.d-block{
    display: block !important;
}

.d-hidden {
    opacity: 0;
    height: 0;
}

.tr-last{
    background-color: #ddd !important;
}
.hero:not(.dash-hero) {
    height: 100vh;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(140deg, rgba(29, 17, 218, 1) 31%, rgba(120, 0, 184, 1) 100%); */
    background-image: url('/hero-image.png');
    background-repeat: no-repeat;
}

.is-app-primary {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
    color: #000!important;
}

.is-app-primary-outline {
    border-color: var(--primary);
    background-color: #fff !important;
    color: var(--primary) !important;
}

.bg-color {
    background: #f5faff;
}

.btn-act {
    border-radius: 5px !important;
}

.is-current {
    background-color: var(--primary) !important;
}

.btn-act.is-app-primary:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 0px 0px #000;
}

.is-app-primary:hover {
    border-color: var(--primary) !important;
}

.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 .125em #dadbff !important;
}

.navbar {
    background-color: #ebecff;
}

.radius-10 {
    border-radius: 10px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-0 {
    border-radius: 0 !important
}

.button.has-fa-icon {
    display: inline-block !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.m-auto {
    margin: auto;
}
.mw-300{
    max-width: 300px !important;
}

.mw-500{
    max-width: 500px !important;
}
.should-be-centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

@media screen and (max-width: 600px) {
    .center-on-mobile {
        text-align: center !important;
    }
}

button.button {
    line-height: 0 !important;
}


button.is-cta:hover {
    position: relative;
    transform: translateY(-4px)
}

.has-text-app-primary {
    color: var(--primary) !important;
}

.centered-elem {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

footer strong {
    color: #fff !important;
}

.about-title {
    background: linear-gradient(140deg, rgb(29, 17, 218) 31%, rgb(120, 0, 184) 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section.is-section {
    box-shadow: 0px 0px 8px #ddd;
    padding: 10px;
}

section.section-app-primary{
    background-color: #F5D2A0;
}

.p-20{
    padding: 20px;
}

.p-50{
    padding: 50px;
}
.p-100{
    padding: 100px;
}
.feature-denied-section{
    height: 200px;   
    position: relative;
    border: 2px solid #ff9500;
    border-radius: 5px;
}
.feature-denied-section .overlay{
    filter: blur(1px);
    background: url('/tailor-premium-banner.jpg');
    height: 100%;
    border-radius: inherit;
}
.feature-denied-section div.denied-content{
    position: absolute;
    /* top: calc(100% - 50%); */
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-denied-section div.denied-content .button{
    max-width: 30%;
    margin: 0 auto 0 auto;
}
.single-customer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid var(--primary); */
    box-shadow: 0px 0px 50px #9f9f9f;
}
:root {
    --primary: #ff9500;
    --primary-dark:#e78906;
        /*#00029d; /*#8107c6;*/
}